.ant-form-item .ant-form-item-explain-connected {
  z-index: 1;
  /* margin-top: 14px; */
}
.ant-form-item .ant-form-item-control-input {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 7vh;
}

.ant-input-affix-wrapper > input.ant-input {
  width: 70vw;
  height: 5.8vh;
  border: none;
}
.ant-input-affix-wrapper .ant-input-suffix {
    margin-inline-start: 4px;
    height: 6vh;
}
.ant-input-affix-wrapper .ant-input-show-count-suffix {
    /* color: rgba(0, 0, 0, 0.45); */
    color: #596069;
}