div > .ant-form-item .ant-form-item-explain-connected {
  z-index: 1;
  /* margin-top: 14px; */
}
div > .ant-form-item div > .ant-form-item-control-input {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 7vh;
}

div
  > .ant-form-item-control-input-content
  .ant-input-affix-wrapper
  > input.ant-input {
  width: 70vw;
  height: 5.8vh;
  border: none;
}
span > .ant-input-affix-wrapper .ant-input-suffix {
  margin-inline-start: 4px !important;
  height: 6vh;
}
span > .ant-input-affix-wrapper .ant-input-show-count-suffix {
  /* color: rgba(0, 0, 0, 0.45); */
  color: #596069 !important;
}
div > .ant-form-item-control-input-content textarea {
  height: 30vh !important;
}
.ant-form-item .ant-input-textarea-show-count .ant-input-data-count {
  color: #596069 !important;
  bottom: 2px;
  right: 2px;
}
div > .ant-btn-default {
  background-color: inherit;
}
div > .ant-input-affix-wrapper {
  border-color: #2b2828;
}
div > .ant-input {
  border-color: #2b2828;
}
