.ant-pagination .ant-pagination-item a {
  color: white;
}
.ant-pagination .ant-pagination-item a:hover {
  color: white;
}
.ant-pagination .ant-pagination-item-active {
  border-color: #29282f;
}
.ant-pagination .ant-pagination-item-active:hover {
  background-color: #0d0c0f;
  border-color: #29282f;
}
.ant-pagination .ant-pagination-disabled .ant-pagination-item-link {
  color: white;
}
