.ant-select-dropdown.drop {
  background-color: #000;
}
.ant-select-dropdown.drop .ant-empty-small {
  color: #fff;
}
.ant-select-dropdown.drop .ant-select-item.ant-select-item-option {
  color: #fff;
  background-color: transparent;
}
.ant-select-dropdown.drop
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  color: #8bc2d3;
  background-color: transparent;
}
.ant-auto-complete-dropdown {
  background: #1f1f1f;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 12px;
}
