.ant-select-dropdown.drop {
  background-color: #000;
}
.ant-select-dropdown.drop .ant-empty-small {
  color: #fff;
}
.ant-select-dropdown.drop .ant-select-item.ant-select-item-option {
  color: #fff;
  background-color: transparent;
}
.ant-select-dropdown.drop
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  color: #8bc2d3;
  background-color: transparent;
}
.ant-auto-complete-dropdown {
  background: #1f1f1f;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 12px;
}
div
  > .ant-select-single.ant-select-customize-input
  .ant-select-selector
  .ant-select-selection-search {
  position: absolute;
  /* width: -moz-fit-content;
  width: fit-content; */
  width: auto;
}
.custom-width {
  width: calc(100% - 18rem);
}

body > div > .ant-select-dropdown.ant-select-dropdown-placement-bottomLeft {
  position: absolute;
  top: 80px !important;
  background-color: #1f1f1f;
}
div
  > .ant-select-dropdown
  > div
  .rc-virtual-list-holder-inner
  .ant-select-item-option-content
  > a {
  color: #fff;
}
