@import './reset.css';
@import './tailwind.css';
@import 'nprogress/nprogress.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');
@import 'cropperjs/dist/cropper.css';

/* 自定义全局 CssVar */
:root {
  --pure-transition-duration: 0.016s;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

/* 重置 vxe-table 样式 */
.vxe-button.type--button.theme--primary:hover,
.vxe-pager .vxe-pager--num-btn:not(.is--disabled).is--active {
  color: #fff !important;
}

/*antd 输入框*/
.ant-input-lg {
  background-color: #1f1f1f;
  color: #ffffff;
}
.ant-input-lg::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.ant-modal-footer {
  display: flex;
}
/* 隐藏分页器 x条/页 */
.ant-pagination-options {
  display: none !important;
}

/* cropper 圆形裁剪框 */
.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}

.ant-spin-dot-item {
  background-color: white !important;
}
